name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build Maven Project
        run: mvn clean package

  deploy:
    needs: build            # Job dependency
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server
        run: echo "Deploying..."

